
<h1>Hello, this is About list</h1>
<p>
<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'Home page', root_path %>
</p>

<footer class="fixed-bottom" >

    <div class="container-fluid text-right">
        <div class="row">
            <div class="col-12">
                <p> <hr>
                    <a href="https://www.google.com" target="_blank">
                    Ссылка на поисковик
                    </a>
                </p>
    <p class="text-right"><b>Все права защищены. &copy;</b></p>
    <hr>
            </div>
        </div>
    </div>
        </footer>